@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}
/* header-area */
.header-area{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;;
}
.nav-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-text{

}
.logo-text h2{
    color: #131318; 
    font-size: 36px;
    font-style: normal;
    font-weight: 800; 
}

.logo-text span{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px; 
    font-weight: 800; 
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.menu{
    
}

.menu ul{

}

.menu ul li{
     list-style: none;
    display: inline-block;
    
}

.active{
    color: #FF5400; 
}


.menu ul li a{
    color: #424247;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;  
}
.menu-img{
    display: none;
}

.hero-button{
    display: flex;
}


/*hero-area  */
.hero-area{
    position: relative;
}
.hero-content{
    display: grid;
    text-align: center;
    background-image: url(Images/hero.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    position: relative;
    
   
}

.hero-content{
    
}

.hero-text{
    z-index: 1
}
.hero-text h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800; 
}

.hero-text p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 24px;
    padding-bottom: 48px;
    
}
.hero-button{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width:800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
}
.hero-button button{ 
    width: 174px;
    height: 52px; ;
    border-radius: 8px;
    background: #FFF;
    border:0;
    padding: 16px;  
    
}
button{
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px; 
    font-weight: 400; 
}
 
button.color {
    background: #FF5400;
    color: #fff;
}

.hero-overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
/* our-popular-tour-area */
.our-popular-tour-area{
    margin: 100px 0;
}
.popular-tour-content{
    display: flex; 
    justify-content: space-between;
    
}
.popular-content{
    padding-right: 50px;
}
.popular-content h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800; 
}
.popular-content p{
    margin:24px 0 ;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.popular-content li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 16px;
}

.buttoncommon button{
    background: #FF5400;
    color: #fff;
    width: 174px;
    height: 52px; ;
    border-radius: 8px; 
    border:0;   
}

/*destination-area  */

.section-title{

}
.section-title h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px; 
    font-weight: 800; 
    }

.section-title p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    margin-top: 24px;
    margin-bottom: 48px;
    }

.firstrow{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    gap: 10px;
   
}
.secondrow{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
    gap: 10px;
   
}

.thirdow{
    display: grid;
    grid-template-columns: auto auto ;
    margin-bottom: 10px;
    gap: 10px;
   
}
.secimg1{
    position: relative;
}
.secimg1 img{
  width: 100%;  
}

.secimg1 p{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px; 
    font-weight: 800; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%);
}


/*why-choice-area*/

.why-choice-area{
    margin: 100px 0;
}
.choose-content{

}

.choose-card{
    margin-top: 48px;
}
.choose-card .c1{
    
}
.card-left, .card-middle{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-right {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px
}
.choose-card{
    display: grid;
    grid-template-columns: auto auto; 
    gap: 32px;
}

.choose-card .c1 h3{
    color: #131318; 
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800; 
    padding-top: 32px;
}
.choose-card .c1 p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    padding-top: 16px;
}
/*newletter-section */

.newletter-section{
    margin-bottom: 100px;
}
.newsletter-content{
    display: flex;
    justify-content: space-between;
    gap:24px
}
.newletter-text{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px; 
    padding: 40px;
}
.ntext h4{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.ntext p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 16px;
    padding-bottom: 24px;
   
}

.newsletter-image img{
    width: 100%;
}
.form { 
   margin-top: 48px;
}
.form input, button{ 
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: 0;
}
.form button{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
}
.newsletter-image{
    width: 672px;
    height: 422px; 
    position: relative;
}
.newsletter-image .save70{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg); 
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    right: 10px;
    bottom: 50px;
}
.save70 h5{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.save70 h3{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


/* footer */

.footer-conent-area{
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
}
.logo-text p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 16px;
}
.footer-middle{
    text-align: center;
    margin-top: 32px;
}
.footer-bottom {
    padding: 25px 0;
}
.footer-bottom p{
        color: #131318; 
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-top: 25px;
}
.footer-bottom hr{
    
}











/* @media */

@media only screen and  (max-width: 600px){
    .container{
        padding-left: 30px;
    }
    .menu-img{
       display: block;
    }
    .nav-area{
        justify-content: space-between
    }
    ul {
        display: none;
    }
   
    .hero-content{
        display: grid;
       

    }
    .hero-button{
        display: grid; 
        gap: 15px;
        align-items: center;
        width:200px; 
    }
    .hero-text h1{ 
        font-family: Mulish;
        font-size: 32px; 
        text-align: center;
    }
    .hero-text p{ 
        font-family: Mulish;
        font-size: 14px; 
        padding-top: 24px;
        padding-bottom: 32px;
        
    }
    .popular-tour-content{
        display: grid; 
        justify-content: space-between; 
    }
    .popular-content{
        margin-bottom: 20px;
    }
    .popular-img img{
        width: 100%;
    }
        
    .firstrow{
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 10px;
      
    
    }
    .secondrow{
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 10px;
        
    
    }

    .thirdow{
        display: grid;
        grid-template-columns: auto ;
        margin-bottom: 10px;
 
    }

    .choose-card{
        display: grid;
        grid-template-columns: auto; 
        gap: 32px;
    }
    .newsletter-content{
        display: grid;   
        grid-template-columns: auto; 
        gap: 32px;
    } 
    .newsletter-image img{
        width:70%;
    }

    
.newsletter-image .save70{
    width: 150px;
    height: 100px; 
    right: 210px;
    bottom: 150px;
}
.save70 h5{ 
    font-size: 14px; 
}
.save70 h3{ 
    font-size: 18px; 
}
.newletter-section{
    margin-bottom: 0;
}
   
}
